@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #9DD1F1;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    color: #001F54;
    justify-content: center;
}

.name{
    float: left;
    margin-right: 1em;
}


.titulo,
h1,
p {
    margin-bottom: 10px;
    text-align: center;
}

.titulo h1 {
    font-weight: bolder;
}

fieldset {
    border: none;
}

.container {

    padding: 40px;
    background-color: aliceblue;
    border: 2px solid gray;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.2);
    width: 50vw;
    margin: 100px auto;
}

input,
select,
textarea,
button {
    border-radius: 5px;
}

.format {
    margin-bottom: 1em;
}

.format label,
#label {
    margin-bottom: 0.2em;
    display: block;
    font-weight: bolder;
}

fieldset .format .grup {
    float: left;
    margin-right: 1em;
}

.format input[type="text"],
.format input[type="email"],
.format select,
.format textarea {
    padding: 0.4em;
    border: 1px solid #001F54;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
}

/* .format input:focus,
.format select:focus,
.campo textarea:focus {
    background-color: #9dd1f15b;
    border: none;
} */

.checkbox {
    display: inline-block;
    margin-bottom: 1em;
}

.btn{
    text-align: center;
}
.btn input[type="submit"]{
    background-color: #001F54;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1.5em;
    padding: 0.3em;
    width: 50%;

}
.btn input[type="submit"]:hover{
    cursor: pointer;
    background-color: #034078;
    transition: 0.2s all;
}

@media screen and (max-width:1100px){
    .container{
        width: 70%;
    }
}

@media screen and (max-width:760px){
    .container{
        width: 90%;
    }
}
@media screen and (max-width:760px){
    
    body {
        font-size: 0.8em;
    }
}
@media screen and (max-width:520px){
    
    .name{
        float: none;
        margin-bottom: 1em;
    }
}